*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color:inherit;
  text-decoration: none;
}
body {
  color: blue;
  background: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: rgb(78, 81, 85);
  padding: 10px 50px 10px 50px;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
  background-color: lightblue;
  height:auto;
  margin-left: 20px;
}

.header nav {
  font-family: sans-serif;
  font-size: 20px;
  list-style-type: none;
  padding-right: 150px;
}

.header nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.header nav ul li a {
  color:aqua;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

li:hover {
  background-color: lightblue;
  text-decoration: none;
  color:darkslateblue;
}

.subtitle img {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

.aside section{
  border-right-style: solid;
  border-right-color: blue;
  margin-bottom: 10px;
  padding:100px;
  font-size: 20px;
}
.container {
  display:flex;
  padding: 0 5em;
  margin: 0;
}

.mysites{
  display:flex;
  padding-left: 50px;
}

.mysites ul li {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.workhero {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.workhero section {
  margin-left: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.card {
  width: 50%;
  padding: 10px;
  filter: brightness(40%)
}

.card:hover {
  filter:brightness(100%)
}

.card img {
  width:100%;
  height: 100%;
  object-fit: cover;
}

.cardf {
  width:100%;
  
}

.cardcontainer {
  display:flex;
  flex-wrap: wrap;
}

